#page-wrapper {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #f2f1f3;
}

#page-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

header {
  background-color: #2a579c;
  display: flex;
  flex: 0 0 3.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header h1 {
  margin: 1rem;
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.5rem;
  flex-grow: 1;
}

@media (max-width: 48rem) {
  #page-wrapper {
    flex-direction: column-reverse;
  }
}
