#info-wrapper {
  overflow: auto;
}

.info-box {
  background-color: var(--white);
  box-shadow: var(--shadow);
  padding: 1rem;
  margin: 1rem 1rem 0;

  & h2 {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
  }

  & h3 {
    font-size: 1rem;
  }
}

#info {
  text-align: center;
}

#info-name {
  font-weight: bold;
  margin-top: 0.5rem;
}

#info-title {
  font-size: 0.75rem;
}

#info-mail {
  margin-top: 1rem;
}

.privacy-header {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  & h3 {
    margin: 0 0 0 0.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
