@import "../shared.css";

#stats {
  padding: 1rem;
  overflow: auto;
}

#stats-overall {
  background-color: var(--white);
  box-shadow: var(--shadow);
  padding: 1rem;
  font-size: 1.25rem;

  & h2 {
    font-size: 1.25rem;
    margin: 0;
  }

  & svg {
    display: inline-block;
    margin-right: 1rem;
    width: 1.25rem
  }
}

#stats-asked {
  margin-top: 1rem;
  color: var(--blue1);
}

#stats-correct {
  margin-top: 0.5rem;
  color: var(--green1);
}

#stats-percent {
  margin-top: 0.5rem;
  color: var(--orange1);
}
