@import "shared.css";

.checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;
  background-color: var(--white);
  border: 0.1rem solid var(--darkblue2);
  border-radius: 0.25rem;
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;

  &[aria-checked=true] {
    background-color: var(--darkblue2);
  }

  &:hover {
    background-color: var(--blue2);
  }

  & input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      display: block;
    }
  }

  & .checkmark {
    display: none;
    position: absolute;
    color: var(--white);
  }
}
