@import "shared.css";

#language-picker {
  display: flex;
  position: relative;
  margin: 0.75rem;
  color: var(--white);
  width: 10rem;
  height: 2rem;
  background-color: var(--darkblue2);
  border-radius: 0.5rem;
  border: 1px solid var(--darkblue1);
  box-sizing: border-box;
  cursor: pointer;

  &.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    & #picker-popup {
      display: block;
    }
  }

  &:hover {
    background-color: var(--darkblue1);
  }

  @media (max-width: 48rem) {
    width: 4.25rem;
  }
}

#picker-content {
  flex-grow: 1;

  @media (max-width: 48rem) {
    & img {
      margin-right: 0;
    }

    & span {
      display: none;
    }
  }
}

#picker-indicator {
  display: flex;
  font-size: 1.5rem;
  width: 1rem;
  margin: 0 0.5rem;
  color: var(--blue3);

  & svg {
    display: block;
    height: 1.875rem;
  }
}

#picker-popup {
  display: none;
  position: absolute;
  top: 2rem;
  right: 0;
  border: 1px solid var(--darkblue1);
  background-color: var(--darkblue1);
  margin-top: -2px;
  margin-right: -1px;
  padding: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  min-width: 100%;
  list-style: none;
  z-index: 5;

  & li {
    &[aria-selected=true] {
      background-color: var(--darkblue1);
    }

    &:hover {
      border-radius: 0.25rem;
      background-color: var(--blue2);
    }
  }
}

#picker-popup img, #picker-content img {
  height: 1.325rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
}

#picker-popup li, #picker-content {
  padding: 0.25rem;
  line-height: 1.375rem;
  display: flex;
  align-content: center;
}
