@import "shared.css";

.spinner-wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.cls-1 {
  fill: var(--white);
}

.cls-2 {
  fill: var(--green1);
}

.cls-7 {
  fill: var(--red1);
}

.cls-8 {
  fill: var(--orange3);
}

.cls-10 {
  fill: var(--red3);
}

.cls-12 {
  fill: var(--blue2);
}

.cls-13 {
  fill: var(--red2);
}

.cls-9 {
  fill: var(--green3);
}

.cls-3 {
  fill: var(--orange1);
}

.cls-6 {
  fill: var(--orange2);
}

.cls-4 {
  fill: var(--green2);
}

.cls-11 {
  fill: var(--blue3);
}

.cls-5 {
  fill: var(--blue1);
}

.anim {
  animation: loading-animation 0.8s infinite ease-in-out;

  &.anim1 {
    animation-delay: 0s;
  }

  &.anim2 {
    animation-delay: 0.1s;
  }

  &.anim3 {
    animation-delay: 0.2s;
  }

  &.anim4 {
    animation-delay: 0.4s;
  }

  &.anim5 {
    animation-delay: 0.5s;
  }

  &.anim6 {
    animation-delay: 0.6s;
  }
}

@keyframes loading-animation {
  0%, 40%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 0;
  }
}
